/* Estilos CSS */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Cor de fundo */
  color: #333; /* Cor do texto */
}

header {
  background-color: #FFA500; /* Laranja */
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background-color: white; /* Fundo das seções */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

h2 {
  color: #FFA500; /* Laranja */
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

footer {
  background-color: #FFA500; /* Laranja */
  color: white;
  padding: 10px;
  text-align: center;
}

/* Animação */
#manga {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}